{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <h1>Автор:
            <a href="{% url 'forum_profile' %}{{ article.author.username }}">
            {{ article.author }}</a>
    </h1>
    <div class="container horizontal" style="width: 40%">
        <span>Выставлено: {{ article.deploy_time }}</span>
        <br>
        <span>Рейтинг: {{ article.rating }}</span>
        <br>
        <img src="{% if article.title_image %}
                    {{ article.title_image.url }}
                  {% endif %}" alt="Нет изображения" width="100%">
        <p>{{ article.text }}</p>


        {% if is_mine %}
        <form>
            <button type="submit" class="blue_elem"
                    formaction="{% url 'edit_article' article.id  %}">
                Редактировать</button>
            <button type="submit" class="red_elem"
                    formaction="{% url 'remove_article' article.id  %}">
                Удалить</button>
        </form>
        {% endif %}
    </div>
    <div class="container horizontal" style="width: 40%">
        <form class="container">
            <span>Your activity:{% if activity == 'L' %} Like
                                {% elif activity == 'D' %} Dislike
                                {% else %} None {% endif %}
            </span>
            <br>
            <button type="submit" class="blue_elem"
                    formaction="{% url 'activity_article' article.id 'L' %}">
                Like</button>
            <button type="submit" class="red_elem"
                    formaction="{% url 'activity_article' article.id 'D' %}">
                Dislike</button>
        </form>
        <h2> Комментарии </h2>
        <form method="post">
            {% csrf_token %}
            <label for="id_comment" style="vertical-align: top">Комментировать:</label>
            <textarea maxlength="500" name="comment" id="id_comment">Комментарий</textarea>
            <br>
            <button type="submit" class="blue_elem"
                    formaction="{% url 'comment_article' article.id %}">
                Комментировать статью
            </button>
            <br><br>
            {% for comment in article.comments.all %}
                <div class="container">
                    <a href="{% url 'user_profile' comment.author.username %}">
                        {{ comment.author.username }}
                    </a>
                    <span>{{ comment.deploy_time }}</span>
                    <p>{{ comment.text }}</p>
                    <span>Рейтинг: {{ comment.rating }}</span>
                    <button type="submit" class="blue_elem"
                            formaction="{% url 'activity_comment' comment.id 'L' %}">
                        Like</button>
                    <button type="submit" class="red_elem"
                            formaction="{% url 'activity_comment' comment.id 'D' %}">
                        Dislike</button>
                    {% if comment.author == user %}
                        <button type="submit" class="red_elem"
                                formaction="{% url 'remove_comment' comment.id  %}">
                            Удалить</button>
                    {% endif %}
                    <br><br>
                    <button type="submit" class="blue_elem"
                            formaction="{% url 'comment_comment' comment.id %}">
                        Комментировать
                    </button>
                    {% for child in comment.children %}
                        <div class="container with_tab">
                            <a href="{% url 'user_profile' child.author.username %}">
                                {{ child.author.username }}
                            </a>
                            <span>в ответ</span>
                            <a href="{% url 'user_profile' child.comment_parent.author.username %}">
                                {{ child.comment_parent.author.username }}
                            </a>
                            <span>{{ child.deploy_time }}</span>
                            <p>{{ child.text }}</p>
                            <span>Рейтинг: {{ child.rating }}</span>
                            <button type="submit" class="blue_elem"
                                    formaction="{% url 'activity_comment' child.id 'L' %}">
                                Like</button>
                            <button type="submit" class="red_elem"
                                    formaction="{% url 'activity_comment' child.id 'D' %}">
                                Dislike</button>
                            {% if child.author == user %}
                                <button type="submit" class="red_elem"
                                        formaction="{% url 'remove_comment' child.id  %}">
                                    Удалить</button>
                            {% endif %}
                            <br><br>
                            <button type="submit" class="blue_elem"
                                    formaction="{% url 'comment_comment' child.id %}">
                                Комментировать
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </form>
    </div>



{% endblock %}