{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <div class="container" style="width: 40%">

        <h1>Автор:
            <a href="{% url 'forum_profile' %}{{ article.author.username }}">
            {{ article.author }}</a>
        </h1>
        <span>Выставлено: {{ article.deploy_time }}</span>
        <br>
        <span>Рейтинг: {{ article.rating }}</span>
        <br>
        <img src="{% if article.title_image %}{{ article.title_image.url }}
        {% endif %}" alt="Нет изображения" width="100%" >
        <p>{{ article.text }}</p>
    </div>

    {% if is_mine %}
    <form>
        <button type="submit" class="blue_elem" formaction="{{ article.id }}/edit">
            Редактировать</button>
        <button type="submit" class="red_elem" formaction="{{ article.id }}/remove">
            Удалить</button>
    </form>
    {% endif %}

{% endblock %}