{% extends 'base.html' %}

{% block title %}Страница {{ user.username }}{% endblock %}

{% block content %}

<h1>Страница пользователя {{ user.username }}</h1>
<div>
    <div class="horizontal container">
        <img class="big_photo" src="{{ user.photo }}" alt="Нету фотки" height="300px">

        {% if user.it_is_i %}
        <h2>Редактировать</h2>
        <form class="container" style="width: 400px;" enctype="multipart/form-data"
              method="POST" novalidate="">
            {% csrf_token %}
            <label for="id_username">Имя пользователя:</label>
            <input type="text" name="username" id="id_username" value="{{ user.username }}">
            <br><br>
            <label for="id_password">Пароль:</label>
            <input type="password" name="password" id="id_password">
            <br><br>
            <label for="id_photo">Фото:</label>
            <input type="file" accept="image/*" name="photo" id="id_photo">
            <br><br><br>
            <button type="submit">Редактировать</button>
        </form>
        <div class="container" style="height: 30px; width: 400px;" >
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="horizontal blue_elem" type="submit">Выйти</button>
            </form>
            <form action="{% url 'remove_profile' user.username %}" method="post">
                {% csrf_token %}
                <button class="horizontal red_elem" type="submit">Удалить</button>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="horizontal container">
        <h2>Статьи</h2>
        {% for article in articles %}
            <div class="container" style="height: 30px;">
                <a href="{% url 'article' article.id %}" class="horizontal">
                    {{ article.title }}
                </a>
                <span class="horizontal"> Рейтинг: {{ article.rating }} </span>
            </div>
        {% endfor %}
        {% if user.it_is_i %}
            <form action="{% url 'add_article' %}" method="get">
            <button class="blue_elem" type="submit">Добавить</button>
            </form>
        {% endif %}
    </div>
</div>
<a href="{% url 'all_users' %}">Посмотреть всех пользователей</a>
<br>
<a href="{% url 'all_articles' %}">Посмотреть все статьи</a>
{% endblock %}